{% extends 'body.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header bg-primary text-white">
            <h4 class="card-title mb-0">Formulario de Artículo</h4>
        </div>
        <div class="card-body">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        {{ form.razonSocial.label }}
                        {{ form.razonSocial }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form.nit.label }}
                        {{ form.nit }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form.telefonoPrincipal.label }}
                        {{ form.telefonoPrincipal }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        {{ form.correo.label }}
                        {{ form.correo }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form.nombreRepresentante.label }}
                        {{ form.nombreRepresentante }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form.telefonoAsesor.label }}
                        {{ form.telefonoAsesor }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        {{ form.modeloFactura.label }}
                        {{ form.modeloFactura }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
<script>
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% if field.errors %}
                errors += '{{ field.label }}: ';
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endif %}
        {% endfor %}
        Swal.fire({
            title: 'Error!',
            text: errors,
            icon: 'error'
        });
    {% else %}
        $('form').on('submit', function(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Enviado!',
                text: 'Validando Campos.',
                icon: 'success'
            }).then(function() {
                $('form').off('submit').submit();
            });
        });
    {% endif %}
</script>

{% endblock %}
