{% extends 'list_general.html' %}

{% block columns %}
<tr>
    <th scope="col" style="width: 40%">Razon Social</th>
    <th scope="col" style="width: 30%">Telefono Asesor</th>
    <th scope="col" style="width: 20%">Ver Más</th>
</tr>
{% endblock %}

{% block rows %}
{% for c in object_list %}
<tr>
    <td>{{ c.razonSocial }}</td>
    <td>{{ c.telefonoPrincipal }}</td>
    <td>
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-info btn-xs btn-flat" data-toggle="modal" data-target="#modal{{ c.id }}">
            Ver Más
        </button>

    </td>
</tr>

<!-- Modal para mostrar todos los datos del distribuidor -->
<div class="modal fade" id="modal{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ c.id }}"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="modalLabel{{ c.id }}"><i class="fas fa-building"></i> Perfil de Socio
                    Minorista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4><i class="fas fa-info-circle"></i> Información Básica</h4>
                        <p><strong>Razón Social:</strong> {{ c.razonSocial }}</p>
                        <p><strong>Nit:</strong> {{ c.nit }}</p>
                        <p><strong>Teléfono:</strong> {{ c.telefonoPrincipal }}</p>
                        <p><strong>Correo:</strong> {{ c.correo }}</p>
                    </div>
                    <div class="col-md-6">
                        <h4><i class="fas fa-users"></i> Contacto</h4>
                        <p><strong>Nombre del Representante:</strong> {{ c.nombreRepresentante }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4><i class="fas fa-file-alt"></i> Estadisticas</h4>
                        <p><strong>Valor Deuda Pendiente:</strong> {{ c.montoPendiente }}</p>
                        <p><strong>Total de Ventas Realizadas:</strong> {{ c.totalVentas }}</p>
                        <p><strong>Porcentaje de Descuento Fijo:</strong> {{ c.porcentajeDescuento }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cerrar
                </button>

                <a href="{% url 'actualizar_socio' c.id %}" class="btn btn-warning btn-flat">
                    <i class="fas fa-edit"></i> Actualizar
                </a>

                <a href="{% url 'eliminar_socio' c.id %}" class="btn btn-danger btn-flat">
                    <i class="fas fa-trash-alt"></i> Eliminar
                </a>
            </div>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
