{% extends 'list_general.html' %}


{% block rows %}
{% for c in object_list %}
<div class="row">
    <!-- Logo Agrandado a la Izquierda -->
    <div class="col-md-3 text-center" style="padding: 20px;">
        <div class="card"
             style="border-radius: 50%; width: 150px; height: 150px; background-color: #f4f4f4; text-align: center; line-height: 150px; margin-bottom: 10px;">
            <p>Logo</p>
        </div>
    </div>

    <!-- Información de la Compañía y Estadísticas al mismo nivel -->
    <div class="col-md-9">
        <div class="row">
            <!-- Información de la Compañía -->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card flex-fill" style="margin-bottom: 20px;">
                    <div class="card-header" style="background-color: rgba(0, 0, 0, 0.05);">
                        <h5><strong>Información de {{ c.razonSocial }}</strong></h5>
                    </div>
                    <div class="card-body" style="line-height: 1.6;">
                        <p><strong>Nit:</strong> {{ c.nit }}</p>
                        <p><strong>Nombre Representante:</strong> {{ c.nombreRepresentante }}</p>
                        <p><strong>Telefono:</strong> {{ c.telefonoPrincipal }}</p>
                        <p><strong>Correo:</strong> {{ c.correo }}</p>
                        <p><strong>Representante:</strong> {{ c.nombreRepresentante }}</p>
                    </div>
                </div>
            </div>

            <!-- Estadísticas de la Compañía -->
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card flex-fill" style="margin-bottom: 20px;">
                    <div class="card-header" style="background-color: rgba(0, 0, 0, 0.05);">
                        <h5><strong>Estadísticas</strong></h5>
                    </div>
                    <div class="card-body" style="line-height: 1.6;">
                        <p><strong>Ventas Totales:</strong> {{ c.ventasTotales }}</p>
                        <p><strong>Compras Totales:</strong> {{ c.comprasTotales }}</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Sedes Asociadas -->
        <div class="card" style="margin-bottom: 20px;">
            <div class="card-header" style="background-color: #e0e0e0;">
                <h4><i class="fas fa-building"></i> Sedes Asociadas</h4>
            </div>
            <div class="card-body" style="background-color: rgba(0, 0, 0, 0.05);">
                <ul>
                    {% for sede in sedes %}
                    <li>{{ sede.nombre }} - {{ sede.direccion }}</li>
                    {% empty %}
                    <li>No hay sedes asociadas.</li>
                    {% endfor %}
                </ul>
                {% if sedes %}
                <a href="{% url 'agregar_sede' %}" class="btn btn-info btn-flat float-right">
                    <i class="fas fa-edit"></i> Agregar Sede
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Botones de acción (Actualizar, Eliminar) -->
        <div class="text-center">
            <a href="{% url 'actualizar_compañia' c.id %}" class="btn btn-warning btn-flat">
                <i class="fas fa-edit"></i> Actualizar
            </a>
            <a href="{% url 'eliminar_compañia' c.id %}" class="btn btn-danger btn-flat">
                <i class="fas fa-trash-alt"></i> Eliminar
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
